@import 'styles/variables';
@import 'styles/mixins';

.info_stamp {
	p:first-child {
		color: $color-highlight-light;
		margin-bottom: 0;
	}

	p:nth-child(2) {
		color: $color-body;
		margin-top: 0;
	}
}
