@import 'styles/variables';
@import 'styles/mixins';

.recent_work {
	background: $color-bg-2;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: $padding-page-small;
	gap: 20px;
	width: 100%;

	h2 {
		color: $color-headline;
		font-family: $font-headline;
		font-weight: 600;
	}

	@include for-tablet-up {
		padding: $padding-page-tablet;
		h2 {
			font-size: $font-size-tablet-headline;
		}
	}

	@include for-laptop-up {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		grid-gap: 60px;
		padding: $padding-laptop;

		h2 {
			font-size: $font-size-laptop-headline;
			align-self: start;
		}
	}

	@include for-big-laptop-up {
		grid-template-columns: 2fr 1fr;
		padding: $padding-big-laptop;

		h2 {
			font-size: $font-size-big-laptop-headline;
			margin-bottom: 20px;
		}
	}
}

.info_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 30px;

	p {
		margin-bottom: 35px;
	}

	h3 {
		color: $color-headline;
		font-size: 2rem;
	}

	@include for-tablet-landscape-up {
		width: 70%;
	}

	@include for-tablet-up {
		h3 {
			font-size: 2.5rem;
		}
	}

	@include for-laptop-up {
		width: 100%;
		align-items: flex-start;
		padding: 15px;
	}
}

.cta {
	align-self: start;
	border-bottom: 1px solid $color-highlight;
	font-size: 1.5rem;
	color: $color-headline;

	@include for-tablet-up {
		font-size: 2rem;
	}

	@include for-laptop-up {
		font-size: 1.85rem;
		span {
			display: inline-block;
			transition: transform 0.3s;
		}
		&:hover {
			span {
				transform: translateX(30%);
			}
		}
	}
}

.card {
	background: $color-bg-1;
	border-radius: 5px;
	width: 90%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		color: $color-headline;
		font-size: 1.5rem;
	}

	ul {
		list-style: none;
		display: flex;
		padding: 0;
	}

	li {
		padding: 5px 8px 5px 8px;
		margin: 0 5px 0 0;
		background-color: $color-tag-purple;
		color: $color-headline;
		border-radius: 4px;
		text-align: center;
	}

	@include for-tablet-up {
		p {
			font-size: 2.3rem;
		}
		li {
			font-size: 1.75rem;
			margin-right: 20px;
		}
	}

	@include for-tablet-landscape-up {
		width: 60%;
	}

	@include for-laptop-up {
		grid-column: 2/3;
		width: 100%;
	}
}

.img_container {
	border-radius: 5px;

	@include for-tablet-landscape-up {
		width: 70%;
	}

	@include for-laptop-up {
		z-index: 1;
		border: solid 8px $color-bg-1;
		grid-column: 1/2;
		width: 90%;
	}
}

.circle {
	display: none;
	position: absolute;
	background: $color-circle-lg;
	border-radius: 50%;

	&.small {
		width: 83px;
		height: 83px;
		top: 173px;
		left: 310px;
	}

	&.big {
		width: 200px;
		height: 200px;
		left: 0;
		bottom: 0;
	}

	@include for-laptop-up {
		display: block;
		&.small {
			width: 90px;
			height: 90px;
			top: 150px;
			left: 235px;
		}
	}

	@include for-big-laptop-up {
		&.small {
			top: 155px;
		}
	}
}

.tracking_in_expand_fwd_bottom {
	@include for-tablet-up {
		-webkit-animation: tracking-in-expand-fwd-bottom 0.8s
			cubic-bezier(0.215, 0.61, 0.355, 1) both;
		animation: tracking-in-expand-fwd-bottom 0.8s
			cubic-bezier(0.215, 0.61, 0.355, 1) both;
	}
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}
@keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

.invisible {
	@include for-tablet-up {
		opacity: 0;
	}
}
