@import 'styles/variables';
@import 'styles/mixins';

.mobile_menu {
	position: fixed;
	right: 0;
	top: 0;
	margin: 10px 20px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 4.5rem;
	height: 4.5rem;
	padding: 10px 0;
	border-radius: 50%;
	background: $color-tag-purple;
	border: none;
	cursor: pointer;
	z-index: 100;

	div {
		width: 2.5rem;
		height: 0.29rem;
		background: $color-body;
		border-radius: 5px;
		transition: opacity 300ms, transform 300ms;
		margin: 0 auto;
	}

	&.show_nav {
		:first-child {
			transform: translateY(8px) rotateZ(45deg);
		}

		:nth-child(2) {
			opacity: 0;
		}

		:nth-child(3) {
			transform: translateY(-8px) rotateZ(-45deg);
		}
	}

	@include for-phone-only {
		width: 3.5rem;
		height: 3.5rem;
		div {
			width: 1.5rem;
			height: 0.19rem;
		}

		&.show_nav {
			:first-child {
				transform: translateY(5px) rotateZ(45deg);
			}

			:nth-child(2) {
				opacity: 0;
			}

			:nth-child(3) {
				transform: translateY(-5px) rotateZ(-45deg);
			}
		}
	}
}
