@import 'styles/variables';
@import 'styles/mixins';

.social_container {
	display: flex;
	justify-content: space-between;
	width: 50%;

	font-size: 2.5rem;

	a {
		transition: color 0.3s, transform 0.3s;

		&:hover {
			color: $color-highlight;
			transform: scale(1.2);
		}
	}

	@include for-laptop-up {
		width: 15%;
	}
}
