@import 'styles/variables';
@import 'styles/mixins';

.post_card {
	background: $color-bg-2;
	border-radius: 4px;
	padding: 4px 20px 20px 20px;

	h2 {
		color: $color-headline;
		font-family: $font-headline;
		font-weight: 600;
	}
}

.info_stamp {
	p {
		font-size: 1.2rem;
		margin-bottom: 0;
		margin-top: 0;
	}

	p:first-child {
		color: $color-highlight;
	}

	@include for-tablet-up {
		p {
			font-size: 1.5rem;
		}
	}
}
