@import 'variables';
@import 'mixins';

.blog_highlight {
	background: $color-highlight-light;
	color: white;
	width: fit-content;
	padding: 0 4px;
	border-radius: 4px;
}

.blog_heading {
	color: $color-headline;
}
