@import 'styles/variables';
@import 'styles/mixins';

.subscribe {
	background: $color-bg-2;
	width: 100%;
	border-radius: 4px;
	padding: 24px;

	p:first-child {
		color: $color-headline;
		font-family: $font-headline;
		font-weight: 600;
		font-size: 1.8rem;
	}

	@include for-tablet-up {
		display: flex;
		flex-direction: column;
	}
}

.form {
	display: flex;
	flex-direction: column;

	input {
		width: 100%;
		padding: 12px 16px;
		border: none;
		border-radius: 4px;
		color: $color-body;
		background: $color-bg-1;
		margin-bottom: 12px;
		font-size: 1.8rem;

		&::placeholder,
		&::-webkit-input-placeholder,
		&::-moz-placeholder {
			color: $color-body;
			opacity: 1;
			font-size: 1.2rem;
		}

		&:focus {
			outline: none;
			border: 1px solid $color-highlight;
		}
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		-webkit-text-fill-color: $color-headline;
		-webkit-box-shadow: 0 0 0px 1000px #000 inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	@include for-tablet-up {
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;

		input {
			margin-bottom: 0;
			padding: 20px 16px 15px 20px;

			&::placeholder,
			&::-webkit-input-placeholder,
			&::-moz-placeholder {
				font-size: 1.4rem;
			}
		}
	}
}

.cta {
	padding: 12px 0;
	border: none;
	border-radius: 4px;
	background: $color-highlight;
	color: $color-headline;
	font-weight: 600;
	font-size: 1.2rem;

	@include for-tablet-up {
		width: 40%;
	}
}

.error {
	padding: 4px;
	border-radius: 4px;
	text-align: center;
	background-color: rgb(255, 249, 242);
	color: rgb(211, 0, 0);
}

.success {
	width: 400px;
	padding: 4px;
	border-radius: 4px;
	background-color: rgb(236, 255, 216);
	color: rgb(3, 142, 3);
	text-align: center;
}
