@import 'styles/variables';
@import 'styles/mixins';

.about {
	display: flex;
	flex-direction: column;
	background: $color-bg-1;
	padding: $padding-page-phone;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	h2 {
		color: $color-headline;
		font-family: $font-headline;
		font-weight: 600;
	}

	@include for-tablet-up {
		padding: $padding-page-tablet;
		h2 {
			font-size: $font-size-tablet-headline;
		}
	}

	@include for-tablet-landscape-up {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		gap: 70px;
		align-items: start;
		p {
			margin-top: 0;
		}
	}

	@include for-laptop-up {
		padding: $padding-laptop;
		h2 {
			font-size: $font-size-laptop-headline;
		}
	}
	@include for-big-laptop-up {
		height: 100vh;
		padding: $padding-big-laptop;

		h2 {
			font-size: $font-size-big-laptop-headline;
		}

		p {
			font-size: 2rem;
			padding: 0 12px;
		}
	}
}

.content {
	order: 1;
	grid-row: 2/3;
	grid-column: 1/2;

	@include for-big-laptop-up {
		// padding: 0 24px;
	}
}

.img_container {
	grid-row: 2/3;
	grid-column: 2/3;
	border-radius: 4px;
	width: 60%;
	justify-self: center;
}

.img_class {
	border-radius: 5px;
}
