@import 'styles/variables';

.about {
	background: $color-about-bg;
	padding: 100px 40px;

	div:first-child {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	div:nth-child(2) {
		div:nth-child(2) {
			h3 {
				display: none;
			}
			ul {
				padding-top: 20px;
				display: grid;
				grid-gap: 5px;
				list-style: none;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				li {
					font-size: 1.6rem;
					svg {
						fill: $color-tertiary;
						margin-right: 10px;
					}
				}
			}
		}
	}

	h2 {
		color: $color-hero-headline;
	}

	@media screen and (max-width: $bp-small-phone-max) {
		margin-top: 150px;
		padding-left: 30px;

		div:nth-child(2) {
			div:nth-child(2) {
				ul {
					li {
						font-size: 1rem;
					}
				}
			}
		}
	}

	@media screen and (min-width: $bp-tablet-landscape) {
		p {
			font-size: 2rem;
		}

		div:nth-child(2) {
			align-self: end;
			margin: 0 auto;

			div:nth-child(2) {
				margin-bottom: 20px;
				padding-bottom: 40px;
				border-radius: 32px;
				display: grid;
				align-items: center;
				width: 50%;
				h3 {
					margin: 18px 0 0 20px;
				}

				ul {
					height: 100%;
					li {
						font-size: 2rem;
					}
				}
			}
		}

		@media screen and (min-width: $bp-laptop) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 100px;
			padding: $padding-page-desktop;
			div:first-child {
				width: 80%;
			}

			div:nth-child(2) {
				justify-self: end;
				width: 90%;
				margin: 0;

				div:nth-child(2) {
					margin-bottom: 0;
					background: $color-hero-background;
					width: 80%;
					h3 {
						display: block;
						color: $color-hero-headline;
					}
				}
			}
		}
	}

	.img_container {
		background: $color-about-bg;

		@media screen and (min-width: $bp-tablet-landscape) and (max-width: $bp-laptop) {
			margin: 0 0 10px 200px;
		}
	}

	.img {
		background: $color-about-bg;
	}
}

.from {
	&_left {
		grid-column: 1/2;
		transform: translateX(-50%);
	}

	&_right {
		grid-column: 2/3;
		transform: translateX(50%);
	}

	&_right,
	&_left {
		transition: opacity 250ms ease-in, transform 400ms ease-in;
		opacity: 0;

		&.appear {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
