@import 'styles/variables';

.project_card {
	position: relative;
	background: $color-about-bg;
	border-radius: 20px;
	height: 680px;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 10px;
	}

	p:last-child {
		padding: 5px 8px 5px 8px;
		// background-color: $color-tag-black;
		background-color: $color-tag-white;
		color: $color-hero-headline;
		width: 40%;
		text-align: center;
		border-radius: 4px;
		font-size: 1.5em;
	}

	h3 {
		color: $color-hero-headline;
	}

	ul {
		list-style: none;
		display: flex;
		padding: 0;

		li {
			padding: 5px 8px 5px 8px;
			margin: 0 25px 0 0;
			background-color: $color-tag-purple;
			color: $color-hero-headline;
			border-radius: 4px;
			text-align: center;
		}
	}
}

.image1_container {
	position: absolute;
	bottom: 0;
	right: 0;
	// width: 450px;
	width: 85%;
}
.image2_container {
	position: absolute;
	left: 50px;
	bottom: 60px;
	width: 300px;
	box-shadow: $shadow-project-img;
	transition: transform 200ms;
}

@media screen and (min-width: $bp-tablet-landscape) {
	.project_card {
		padding: 32px 32px 0 32px;
		&:hover {
			.image2_container {
				transform: translate(-5%, -5%);
			}
		}

		ul {
			font-size: 1.5rem;
		}
	}
}

.fade_in {
	opacity: 0;
	transition: opacity 250ms ease-in, transform 300ms ease-in;
	transform: translateY(10%);
}

.appear {
	opacity: 1;
	transform: translateY(0);
}
