@import 'styles/variables';
@import 'styles/mixins';

.contact {
	display: flex;
	flex-direction: column;
	padding: $padding-page-phone;
	text-align: center;
	gap: 30px;
	h2 {
		color: $color-headline;
	}

	h4 {
		background-color: $color-tag-purple;
		color: $color-headline;
		padding: 5px 10px;
		border-radius: 4px;
		display: inline-block;
	}

	@include for-tablet-up {
		gap: 0;
		h2 {
			font-size: $font-size-tablet-headline;
		}
	}

	@include for-tablet-landscape-up {
		padding: $padding-page-tablet;
	}

	@include for-laptop-up {
		padding: 120px 260px;
		h2 {
			font-size: $font-size-laptop-headline;
		}
	}
	@include for-big-laptop-up {
		padding: 120px 350px;
		h2 {
			font-size: $font-size-big-laptop-headline;
		}
	}
}
