@import 'styles/variables';

.contact {
	display: flex;
	flex-direction: column;
	padding: 60px 30px;
	margin: 20px 0;
	background: $color-about-bg;
	text-align: center;
	h2 {
		color: $color-hero-headline;
	}

	h4 {
		background-color: $color-tag-purple;
		color: $color-hero-headline;
		padding: 5px 10px;
		border-radius: 4px;
		display: inline-block;
	}

	@media screen and (min-width: $bp-tablet-landscape) {
		margin: 0;
		display: grid;
		grid-template-columns: 1fr;
		padding: $padding-page-desktop;
		grid-gap: 30px;
		text-align: left;
		h2 {
			font-size: 3.5rem;
		}

		h3 {
			font-size: 2.3rem;
		}

		h4 {
			font-size: 1.6rem;
		}
	}
}

.content_container {
	width: 60%;
	align-self: center;

	@media screen and (min-width: $bp-tablet-landscape) {
		justify-self: center;
		width: 70%;
		max-width: 70%;
	}
}
.form_container {
	width: 60%;
	align-self: center;

	@media screen and (min-width: $bp-tablet-landscape) {
		width: 70%;
		max-width: 70%;
		justify-self: center;
	}
}
