@import 'styles/variables';
@import 'styles/mixins';

.header {
	display: none;

	nav {
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;

			li {
				font-size: 2rem;
				margin: auto 30px;

				a {
					padding: 10px;
					color: $color-paragraph;
					position: relative;
					transition: color 0.3s;

					&:after {
						content: '';
						position: absolute;
						background-color: $color-highlight;
						height: 3px;
						width: 0;
						left: 0;
						bottom: -2px;
						transition: 0.3s;
					}

					&:hover {
						color: $color-headline;
					}

					&:hover:after {
						width: 100%;
					}
				}
			}
		}
	}

	@include for-laptop-up {
		padding: 0 150px;
		background: $color-header-bg;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
		z-index: 1;
	}

	@include for-big-laptop-up {
		padding: 0 250px;
	}
}

.logo_nav_container {
	display: flex;
}

.active {
	content: '';
	position: absolute;
	background-color: $color-highlight;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -2px;
	transition: 0.3s;
}
