@import 'styles/variables';

.header {
	background: $color-header-bg;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0 100px;
	// position: sticky;
	// top: 0;
	z-index: 1;

	nav {
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;

			li {
				font-size: 2rem;
				margin: auto 30px;

				a {
					padding: 10px;
					color: $color-paragraph;
					position: relative;
					transition: color 0.3s;

					&:after {
						content: '';
						position: absolute;
						background-color: $color-highlight;
						height: 3px;
						width: 0;
						left: 0;
						bottom: -2px;
						transition: 0.3s;
					}

					&:hover {
						color: $color-hero-headline;
					}

					&:hover:after {
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $bp-tablet-landscape) {
	.header {
		display: none;
	}
}

.active {
	content: '';
	position: absolute;
	background-color: $color-highlight;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -2px;
	transition: 0.3s;
}
