@import 'styles/variables';

.footer {
	display: flex;
	align-items: center;
	height: 100px;
	justify-content: space-between;
	padding: 0 20px;
	flex-direction: column;

	@media screen and (min-width: $bp-laptop) {
		justify-content: space-between;
		flex-direction: row;
		padding: 0 100px;
	}
}
