@import 'styles/variables';
@import 'styles/mixins';

.not_found_content {
	display: flex;
	flex-direction: column;
	padding: $padding-page-phone;
	gap: 30px;
	margin-top: 40px;
	h1 {
		font-size: 2.5rem;
		color: $color-headline;
	}

	p {
		font-size: 1.6rem;

		a {
			color: $color-headline;
			border-bottom: 1px solid $color-highlight;
		}
	}

	@include for-tablet-up {
		gap: 50px;
		padding: $padding-page-tablet;
		h1 {
			font-size: $font-size-tablet-headline;
		}

		p {
			font-size: 1.8rem;
		}
	}

	@include for-tablet-landscape-up {
		padding: $padding-laptop;
	}

	@include for-laptop-up {
		text-align: center;
		h1 {
			font-size: $font-size-laptop-headline;
		}

		p {
			font-size: 2rem;
		}
	}
}

.img_container {
	margin-bottom: 100px;

	@include for-small-phone-only {
		margin-bottom: 0;
	}

	@include for-laptop-up {
		margin: 0 auto;
		width: 60%;
	}
}
